@import './variables';

body{
    margin: 0 auto;
    background-color: white;
    font-family: 'Spartan', sans-serif;
    max-width: 1440px;
    @media (min-width: $tablet) {
        padding-left: 6.125rem;
        padding-right: 6.125rem;
    }
    @media (min-width: $deskTop) {
        padding-left: 10.3125rem;
        padding-right: 10.3125rem;
    }
    @media (min-width: $deskTop+1) {
        padding: 0;
    }
    .container{
        position: relative;
        max-width: 1110px;
        margin: 0 auto;
    }
}

.fancyLine{
    display: none;
    top: -20px;
    left: -3rem;
    position: absolute;
    align-items: center;
    transform-origin: left bottom;
    transform: rotate(90deg);
    .greyLine{
        height: 1px;
        width: 104px;
        background-color: $lightGrey;
        margin-right: 3rem;
    }
    p{
        margin: 0;
        color: $lightGrey;
        letter-spacing: 15px;
    }
    @media (min-width: $tablet){
        display: flex;
    }
    

}

a{
    text-decoration: none;
    color: inherit;
}

h1{
    color: $veryLightGrey;
    font-size: 7.5rem;
    letter-spacing: -3px;
    line-height: 12.5rem;
    font-weight: bold;
    @media (min-width: $deskTop){
        font-size: 12.5rem;
    }
    
}


h2{
    font-size: 40px;
    font-weight: bold;
    line-height: 48px;
    @media (min-width: $tablet){
        font-size: 3.5rem;
        line-height: 3.5rem;
    }

}

h3{
    font-size: 1.125rem;
}

.subMenu{
    color: $veryDarkBlue;
    display: none;
    font-weight: bold;
    font-size: 1.125rem;
    padding: 3rem;
    background-color: $veryLightGrey;
    margin-left: 2rem;
    width: 100%;
    position: absolute;
    ul{
        padding: 0;
        list-style-type: none;
        width: 50%;
        li{
            margin-bottom: 2rem;
        }
        
    }
}

input{
    outline: none;
    border-style: none;
    border-bottom: 1px solid $veryDarkBlue;
    padding-left: 34.19px;
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 1.25rem;
    &::placeholder{
        color: $lightGrey;
        opacity: 1;
    }
    &:focus{
        color: $veryDarkBlue;
        border-bottom: 3px solid $veryDarkBlue;

    }
    &:focus:invalid{
        border-bottom: 3px solid $redErrors;
    }
}




button{
    background-color: $veryDarkBlue;
    padding: 1.5rem 2rem 1.5rem 2rem;
    width: auto;
    color: white;
    font-family: inherit;
    font-weight: 700;
    font-size: 0.9375rem;
    line-height: 25px;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &:hover{
        background-color: $darkGrey;
    }
    &:active{
        background-color: $lightGrey;
    }
    &:focus{
        outline: none;
    }
}

nav{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        width: fit-content;
        height: fit-content;
    }
    .tabletLinks{
        display: none;
    }
    @media (min-width: $tablet) {
        justify-content: flex-start;
        #hamburger{
            display: none;
        }
        .tabletLinks{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            font-size: 15px;
        }
    }
    
}

footer{
    position: relative;
    background-color: $veryLightGrey;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    .footerLogo{
        position: absolute;
        top: -60px;
        background-color: black;  
              
        margin: auto;
        width: 120px;
        height: 120px;
        padding-bottom: 0;
        display: flex;
    }
    svg{
        margin-top: 30px;
        margin-left: 10px;
        fill: white;
        transform: scale(0.6);
    }
    .footer-content{
        margin-top: 5rem;
        p{
            color: $medGrey;
            font-weight: bold;
            font-size: 0.9375rem;
            margin-top: 2rem;
            margin-bottom: 0;
        }
    }
    button{
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    @media (min-width: $tablet){
        display: none;
        
    }
}

.footerTablet{
    position: relative;
    display: none;
    height: 120px;
    margin-left: -6.125rem;
    margin-right: -6.125rem;
    align-items: center;
    background: linear-gradient(to right, $veryLightGrey 90%, white 0% );
    .footerLogov2{
        img{
            transform: scale(0.7, 0.7);
        }
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 120px;
        background-color: black;
    }
    .footer-content{
        background-color: $veryLightGrey;
        display: flex;
        justify-content: space-between;
        width: 33%;
        margin-left: 40px;
        
        
    }
    button{
        position: absolute; 
        right: 0;
    }
    @media (min-width: $tablet){
        display: flex;
    }
    @media (min-width: $deskTop){
        margin: 0;
        max-width: 1110px;
        height: 200px;
        left: auto;
        right: auto;
        .footer-content{
            width: 350px;
        }
        .footerLogov2{
            width: 200px;
        }

    }
    

}