@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');
@import './variables';
@import './globals';

h1{
    display: none;
}

.about-header{
    background-image: url('../assets/about/mobile/image-hero.jpg');
    width: 100%;
    height: 240px;
    background-size: cover;
    display: flex;
    align-items: flex-end;

    .blocker{
        width:91.4%;
        height: 45px;
        background-color:white;
        

    }
}
.hero{
    .liner{
        display: none;
    }
}


section{
    h2{
        margin-top: 0;
    }
    padding-left: 2rem;
    padding-right: 2rem;
    p{
        font-size: 0.9375rem;
        color: $darkGrey;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
    }
    margin-bottom: 4.5rem;
    .liner{
        background-color: #C8CCD8;
        width: 65px;
        height: 1px;
        margin-bottom: 4.1875rem;
    }
}

.leaders{
    h2{
        margin-bottom: 1.5rem;
    }
    .iconlinks{
        width: fit-content;
        img{
            margin-right:25.6px;
        }
    }
    .leader-card{
        margin-top: 2.5rem;
        h3{
            margin-top: 1.5rem;
            margin-bottom: 0px;
        }
        p{
            margin-top: 4px;
        }
    }
    padding-bottom: 4rem;
}

@media (min-width:$tablet){
    section{
        padding: 0;
    }
    .hero{
        position: relative;
        section{
            position: absolute;
            left: 0;
            bottom: 0;
            padding-top:88px;
            padding-left: 59px;
            background-color: white;
            margin-left: 58px;
            margin-bottom: 0;
            .liner{
                display: block;
            }
        }
        margin-bottom: 12.5rem;
        h1{
            display: block;
            position: absolute;
            top:12rem;
            right: 0;
            z-index: 1;
            margin: 0;
        }
        
    }
    .about-header{
        background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/about/tablet/image-hero.jpg');
        background-size: cover;
        height: 720px;
        .blocker{
            display: none;
        }
    }
    .leaders{
        margin-top: 200px;
        margin-bottom: 200px;
    }
    .leader-grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .leader-card{
            width: 48%;
            .profPic{
                width: 100%;
            }
        }
    }
}

@media (min-width:$deskTop){
    .hero{
        .about-header{
            background-image:linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/about/desktop/image-hero.jpg');
            background-size: cover;
            width: 635px;
        }
        section{
            width: 446px;
            margin-left: 482px;
        }


    }
    

}