@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");
body {
  margin: 0 auto;
  background-color: white;
  font-family: 'Spartan', sans-serif;
  max-width: 1440px;
}

@media (min-width: 768px) {
  body {
    padding-left: 6.125rem;
    padding-right: 6.125rem;
  }
}

@media (min-width: 1440px) {
  body {
    padding-left: 10.3125rem;
    padding-right: 10.3125rem;
  }
}

@media (min-width: 1441px) {
  body {
    padding: 0;
  }
}

body .container {
  position: relative;
  max-width: 1110px;
  margin: 0 auto;
}

.fancyLine {
  display: none;
  top: -20px;
  left: -3rem;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.fancyLine .greyLine {
  height: 1px;
  width: 104px;
  background-color: #c8ccd8;
  margin-right: 3rem;
}

.fancyLine p {
  margin: 0;
  color: #c8ccd8;
  letter-spacing: 15px;
}

@media (min-width: 768px) {
  .fancyLine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.underLine {
  display: none;
  width: 24px;
  height: 1px;
  background: #1b1d23;
  position: absolute;
  left: 33%;
}

a {
  text-decoration: none;
  color: inherit;
  position: relative;
}

h1 {
  color: #eeeff4;
  font-size: 7.5rem;
  letter-spacing: -3px;
  line-height: 12.5rem;
  font-weight: bold;
}

@media (min-width: 1440px) {
  h1 {
    font-size: 12.5rem;
  }
}

h2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}

h3 {
  font-size: 1.125rem;
}

.subMenu {
  color: #1b1d23;
  display: none;
  font-weight: bold;
  font-size: 1.125rem;
  padding: 3rem;
  background-color: #eeeff4;
  margin-left: 2rem;
  width: 100%;
  position: absolute;
}

.subMenu ul {
  padding: 0;
  list-style-type: none;
  width: 50%;
}

.subMenu ul li {
  margin-bottom: 2rem;
}

input {
  outline: none;
  border-style: none;
  border-bottom: 1px solid #1b1d23;
  padding-left: 34.19px;
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 1.25rem;
}

input::-webkit-input-placeholder {
  color: #c8ccd8;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #c8ccd8;
  opacity: 1;
}

input::-ms-input-placeholder {
  color: #c8ccd8;
  opacity: 1;
}

input::placeholder {
  color: #c8ccd8;
  opacity: 1;
}

input:focus {
  color: #1b1d23;
  border-bottom: 3px solid #1b1d23;
}

input:focus:invalid {
  border-bottom: 3px solid #DF5656;
}

button {
  background-color: #1b1d23;
  padding: 1.5rem 2rem 1.5rem 2rem;
  width: auto;
  color: white;
  font-family: inherit;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 25px;
  border-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

button:hover {
  background-color: #60636d;
}

button:active {
  background-color: #c8ccd8;
}

button:focus {
  outline: none;
}

nav {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

nav .tabletLinks {
  display: none;
}

@media (min-width: 768px) {
  nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  nav #hamburger {
    display: none;
  }
  nav .tabletLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    font-size: 15px;
  }
}

footer {
  position: relative;
  background-color: #eeeff4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footerLogo {
  position: absolute;
  top: -60px;
  background-color: black;
  margin: auto;
  width: 120px;
  height: 120px;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer svg {
  margin-top: 30px;
  margin-left: 10px;
  fill: white;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

footer .footer-content {
  margin-top: 5rem;
}

footer .footer-content p {
  color: #7d828f;
  font-weight: bold;
  font-size: 0.9375rem;
  margin-top: 2rem;
  margin-bottom: 0;
}

footer button {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  footer {
    display: none;
  }
}

.footerTablet {
  position: relative;
  display: none;
  height: 120px;
  margin-left: -6.125rem;
  margin-right: -6.125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(90%, #eeeff4), color-stop(0%, white));
  background: linear-gradient(to right, #eeeff4 90%, white 0%);
}

.footerTablet .footerLogov2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 120px;
  background-color: black;
}

.footerTablet .footerLogov2 img {
  -webkit-transform: scale(0.7, 0.7);
          transform: scale(0.7, 0.7);
}

.footerTablet .footer-content {
  background-color: #eeeff4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 33%;
  margin-left: 40px;
}

.footerTablet button {
  position: absolute;
  right: 0;
}

@media (min-width: 768px) {
  .footerTablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1440px) {
  .footerTablet {
    margin: 0;
    max-width: 1110px;
    height: 200px;
    left: auto;
    right: auto;
  }
  .footerTablet .footer-content {
    width: 350px;
  }
  .footerTablet .footerLogov2 {
    width: 200px;
  }
}

.contact-header {
  background-image: url("../assets/about/mobile/image-hero.jpg");
  width: 100%;
  height: 240px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contact-header .blocker {
  width: 91.4%;
  height: 45px;
  background-color: white;
}

section {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 4.5rem;
}

section h2 {
  margin-top: 0;
  max-width: 300px;
}

section h4 {
  color: #60636d;
}

section p {
  font-size: 0.9375rem;
  color: #60636d;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
}

section .liner {
  background-color: #C8CCD8;
  width: 65px;
  height: 1px;
  margin-bottom: 4.1875rem;
}

section .office .map-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .office .map-arrow p {
  margin-right: 1.5rem;
  color: #1b1d23;
  font-weight: 700;
}

.hero .liner {
  display: none;
}

.hero h1 {
  display: none;
}

.contact-map {
  background-image: url("../assets/contact/mobile/image-map.png");
  background-size: cover;
  width: 100%;
  height: 367px;
  margin-bottom: 4rem;
}

.connect {
  padding-bottom: 4rem;
}

.connect h2 {
  max-width: 250px;
}

form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

form div {
  width: 100%;
  position: relative;
}

form div:not(:last-of-type) {
  margin-bottom: 2.5rem;
}

form input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

form input:last-of-type {
  padding-bottom: 4.625rem;
}

form .inputError {
  margin-bottom: 4rem;
  color: #DF5656;
  position: absolute;
  right: 1.6rem;
  opacity: 0;
}

form .inputError.message {
  top: 1.5rem;
  bottom: 1.75rem;
}

form .inputError.email {
  top: 1.4rem;
}

form .inputError.name {
  top: 1.2rem;
}

button {
  padding: 1.875rem;
}

button img {
  margin-left: 0;
}

@media (min-width: 768px) {
  section {
    padding: 0;
  }
  section h2 {
    max-width: 500px;
  }
  .hero {
    position: relative;
    margin-bottom: 12.5rem;
  }
  .hero section {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-top: 88px;
    padding-left: 59px;
    background-color: white;
    margin-left: 58px;
    margin-bottom: 0;
  }
  .hero section .liner {
    display: block;
  }
  .hero h1 {
    display: block;
    position: absolute;
    top: 12rem;
    right: 0;
    z-index: 1;
    margin: 0;
  }
  .contact-header {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url("../assets/contact/tablet/image-hero.jpg");
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url("../assets/contact/tablet/image-hero.jpg");
    background-size: cover;
    height: 720px;
  }
  .contact-header .blocker {
    display: none;
  }
}
/*# sourceMappingURL=contact.css.map */