@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');
@import './variables';
@import './globals';


.hero{
    position: relative;
    padding: 6.875rem 2rem 6.875rem 2rem;
    
    background-image: linear-gradient(rgba(0,0,0,.5)), url('../assets/home/mobile/image-hero-paramour.jpg');
    background-size: cover;
    .hero-content{
        color: white;
        h1{
            font-weight: bold;
            font-size: 3rem;
            line-height: 3rem;
            letter-spacing: -1.2px;
            margin-bottom: 0.9375rem;
            margin-top: 0;
        }
        p{
            margin-bottom: 3.56rem;
            font-style: normal;
            font-weight: 500;
            font-size: 0.9375rem;
            line-height: 25px;
        }
    }
    .sliderButtons{
        display: none;
    }
    @media (min-width: $tablet){
        background-image: linear-gradient(rgba(0,0,0,.5)), url('../assets/home/tablet/image-hero-paramour.jpg');
        padding: 11.25rem 3.625rem 11.25rem 3.625rem;
        .hero-content{
            h1{
                font-size: 5rem;
                letter-spacing: -2px;
                line-height: 5rem;
            }
            p{
                margin-bottom: 2.5rem;
                width: 445px;
            }
        }
    }
    @media (min-width: $deskTop){
        position: relative;
        background-image: linear-gradient(rgba(0,0,0,.5)), url('../assets/home/desktop/image-hero-paramour.jpg');
        padding: 11.25rem 23.5rem 11.25rem 11.875rem;
        
        .sliderButtons{
            position: absolute;
            bottom: 0;
            left:-80px;
            display: flex;
            .slider{
                border:none;
                background-color: $veryLightGrey;
                color: $medGrey;
                &:hover{
                    background-color: $darkGrey;
                }
                
            }
            .slider.active{
                background-color:$veryDarkBlue;
                color: white;
                
            }
        }
    }
}

.intro{
    position: relative;
    margin-bottom: 6.625rem;
    padding: 4.5rem 2rem 6.0625rem 2rem;
    .intro-content{
        h1{
            display: none;
            position: relative;
            z-index: 100;
        }
        p{
            line-height: 25px;
            font-size: 0.9375rem;
            color: $darkGrey;
            font-weight: 500;
        }

    }
    .welcomePic{
        display: none;
        z-index: 0;
        @media (min-width: $deskTop){
            display: inline;
            position: absolute;
            right: 0;
            bottom: 0;

        }
    }
    
    @media (min-width: $tablet){
        margin-bottom: 12.5rem;
        padding: 0;
        .intro-content{
            h1{
                margin-top: 4.625rem;
                margin-bottom: 0;
                display: inline-block;
            }
            h2{
                margin-top: 0;
                font-size:3.5rem;
                line-height: 3.5rem;
                letter-spacing: -2px;
                width: 446px;
            }
        }

    }

    @media (min-width: $deskTop) {
        .intro-content{
            
            .paragraph{
                width: 446px;
                position: relative;
                margin-left: 189px;
            }
        }
        
    }
}

.about{
    padding: 10.6875rem 2rem 11.8125rem;
    background-image: linear-gradient(rgba(0,0,0,.5)), url('../assets/home/mobile/image-small-team.jpg');
    background-size: cover;
    color: white;
    .about-content{
        h2{
            margin-bottom: 2rem;
            letter-spacing: -1.43px;
        }
        button{
            width: 187px;
        }
    }
    @media (min-width: $tablet){
        background-image: linear-gradient(rgba(0,0,0,.5)), url('../assets/home/tablet/image-small-team.jpg');
        padding: 10.5rem 4.375rem 10.5rem 3.625rem;
    }
    @media (min-width: $deskTop){
        background-image: linear-gradient(rgba(0,0,0,.5)), url('../assets/home/desktop/image-small-team.jpg');
        padding: 10.5rem 29.6875rem 10.5rem 11.875rem;

    }
}

.projects{
    padding: 3.94rem 2rem 8.25rem 2rem;
    .portNumber{
        display: none;
        position: absolute;
        top: 16px;
        right: 0;
        opacity: 0.5;
        color: white;
        margin: 0;
        font-size: 12.5rem;
    }
    .projects-content{
        
        .projectsHeader{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .btn1{
                display: none;
            }
            h2{
                margin-bottom: 3rem;
            }
            @media (min-width: $tablet){
                .btn1{
                    display: flex;
                    width: 30%;
                }
            }
        }

        .project-card{
            position: relative;
            .content{
                padding: 10.125rem 9.0625rem 1.5rem 1.5rem;
                
                color: white;
                h3{
                    margin-bottom: 4px;
                }
                p{
                    font-weight: 500;
                    line-height: 25px;
                    opacity: 0.75;
                    margin-top: 0px;
                    font-size: 15px;
                }
            }
            margin-bottom: 1.5rem;
        }
        .project-card.delSol{
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/mobile/image-del-sol.jpg');
            background-size:cover;
            @media (min-width: $tablet){
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/tablet/image-del-sol.jpg');
                background-size:cover;
            }
            @media (min-width: $deskTop){
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/desktop/image-del-sol.jpg');
                background-size:cover;
            }
            

        }
        .project-card.tower{
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/mobile/image-228b.jpg');
            background-size:cover;
            @media (min-width: $tablet){
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/tablet/image-228b.jpg');
                background-size:cover;

            }
            @media (min-width: $deskTop){
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/desktop/image-228b.jpg');
                background-size:cover;

            }

        }
        .project-card.prototype{
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/mobile/image-prototype.jpg');
            background-size:cover;
            @media (min-width: $tablet){
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/tablet/image-prototype.jpg');
                background-size:cover;
            }
            @media (min-width: $deskTop){
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/desktop/image-prototype.jpg');
                background-size:cover;
            }
        }
    }
    button{
        width: 100%;        
    }
    @media (min-width: $tablet){
        margin-top: 12.5rem;
        margin-bottom:12.5rem;
        padding: 0;
        .portNumber{
            display: inline-block;
        }
        .btn2{
            display: none;
        }
        
    }
    @media (min-width: $deskTop){
        .projects-content{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .projectsHeader{
                width: 100%;
                .btn1{
                    width:169px;
                }
            }
            .project-card{
                height: 560px;
                width: 350px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                .content{
                    padding: 40px;
                    
                }
            }
            
        }
        margin-bottom: 200px;
        
    }
}

