@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");
body {
  margin: 0;
  background-color: white;
  font-family: 'Spartan', sans-serif;
}

@media (min-width: 768px) {
  body {
    padding-left: 6.125rem;
    padding-right: 6.125rem;
  }
}

@media (min-width: 1440px) {
  body {
    padding-left: 10.3125rem;
    padding-right: 10.3125rem;
  }
}

.fancyLine {
  display: none;
  top: -20px;
  left: 0;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 2rem;
}

.fancyLine .greyLine {
  height: 1px;
  width: 104px;
  background-color: #c8ccd8;
  margin-right: 3rem;
}

.fancyLine p {
  margin: 0;
  color: #c8ccd8;
  letter-spacing: 15px;
}

@media (min-width: 768px) {
  .fancyLine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1440px) {
  .fancyLine {
    margin-left: 4rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  color: #eeeff4;
  font-size: 7.5rem;
  letter-spacing: -3px;
  line-height: 12.5rem;
  font-weight: bold;
}

@media (min-width: 1440px) {
  h1 {
    font-size: 12.5rem;
  }
}

h2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}

h3 {
  font-size: 1.125rem;
}

.subMenu {
  color: #1b1d23;
  display: none;
  font-weight: bold;
  font-size: 1.125rem;
  padding: 3rem;
  background-color: #eeeff4;
  margin-left: 2rem;
  width: 100%;
  position: absolute;
}

.subMenu ul {
  padding: 0;
  list-style-type: none;
  width: 50%;
}

.subMenu ul li {
  margin-bottom: 2rem;
}

input {
  outline: none;
  border-style: none;
  border-bottom: 1px solid #1b1d23;
  padding-left: 34.19px;
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 1.25rem;
}

input::-webkit-input-placeholder {
  color: #c8ccd8;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #c8ccd8;
  opacity: 1;
}

input::-ms-input-placeholder {
  color: #c8ccd8;
  opacity: 1;
}

input::placeholder {
  color: #c8ccd8;
  opacity: 1;
}

input:focus {
  color: #1b1d23;
  border-bottom: 3px solid #1b1d23;
}

input:focus:invalid {
  border-bottom: 3px solid #DF5656;
}

button {
  background-color: #1b1d23;
  padding: 1.5rem 2rem 1.5rem 2rem;
  width: auto;
  color: white;
  font-family: inherit;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 25px;
  border-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

button:hover {
  background-color: #60636d;
}

button:active {
  background-color: #c8ccd8;
}

nav {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

nav .tabletLinks {
  display: none;
}

@media (min-width: 768px) {
  nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  nav #hamburger {
    display: none;
  }
  nav .tabletLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    font-size: 15px;
  }
}

footer {
  position: relative;
  background-color: #eeeff4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footerLogo {
  position: absolute;
  top: -60px;
  background-color: black;
  margin: auto;
  width: 120px;
  height: 120px;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer svg {
  margin-top: 30px;
  margin-left: 10px;
  fill: white;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

footer .footer-content {
  margin-top: 5rem;
}

footer .footer-content p {
  color: #7d828f;
  font-weight: bold;
  font-size: 0.9375rem;
  margin-top: 2rem;
  margin-bottom: 0;
}

footer button {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  footer {
    display: none;
  }
}

.footerTablet {
  display: none;
  width: 80%;
  height: 120px;
  position: absolute;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #eeeff4;
}

.footerTablet .footerLogov2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 120px;
  background-color: black;
}

.footerTablet .footerLogov2 img {
  -webkit-transform: scale(0.7, 0.7);
          transform: scale(0.7, 0.7);
}

.footerTablet .footer-content {
  background-color: #eeeff4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0  auto;
  width: 41.15%;
}

.footerTablet button {
  position: absolute;
  right: -10rem;
}

@media (min-width: 768px) {
  .footerTablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1440px) {
  .footerTablet {
    width: 67%;
    height: 200px;
    left: auto;
    right: auto;
  }
  .footerTablet .footerLogov2 {
    width: 200px;
  }
  .footerTablet .footer-content {
    margin-right: 20rem;
  }
}

.projects {
  padding: 3.94rem 2rem 8.25rem 2rem;
}

.projects .projects-content h2 {
  margin-bottom: 3rem;
}

.projects .projects-content .project-card {
  margin-bottom: 1.5rem;
}

.projects .projects-content .project-card .content {
  padding: 10.125rem 9.0625rem 1.5rem 1.5rem;
  color: white;
}

.projects .projects-content .project-card .content h3 {
  margin-bottom: 4px;
}

.projects .projects-content .project-card .content p {
  font-weight: 500;
  line-height: 25px;
  opacity: 0.75;
  margin-top: 0px;
}

.projects .projects-content .delSol {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url("../assets/portfolio/mobile/image-del-sol.jpg");
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url("../assets/portfolio/mobile/image-del-sol.jpg");
  background-size: cover;
}

@media (min-width: 768px) {
  .projects .projects-content .delSol {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url("../assets/portfolio/tablet/image-del-sol.jpg");
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url("../assets/portfolio/tablet/image-del-sol.jpg");
    background-size: cover;
  }
}

.projects .projects-content .tower {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url("../assets/portfolio/mobile/image-228b.jpg");
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url("../assets/portfolio/mobile/image-228b.jpg");
  background-size: cover;
}

@media (min-width: 768px) {
  .projects .projects-content .tower {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url("../assets/portfolio/tablet/image-228b.jpg");
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url("../assets/portfolio/tablet/image-228b.jpg");
    background-size: cover;
  }
}

.projects .projects-content .prototype {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url("../assets/portfolio/mobile/image-prototype.jpg");
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url("../assets/portfolio/mobile/image-prototype.jpg");
  background-size: cover;
}

@media (min-width: 768px) {
  .projects .projects-content .prototype {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url("../assets/portfolio/tablet/image-prototype.jpg");
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url("../assets/portfolio/tablet/image-prototype.jpg");
    background-size: cover;
  }
}

.projects .projects-content .seraph {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url("../assets/portfolio/mobile/image-seraph.jpg");
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url("../assets/portfolio/mobile/image-seraph.jpg");
  background-size: cover;
}

@media (min-width: 768px) {
  .projects .projects-content .seraph {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url("../assets/portfolio/tablet/image-seraph.jpg");
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url("../assets/portfolio/tablet/image-seraph.jpg");
    background-size: cover;
  }
}

.projects .projects-content .eebox {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url("../assets/portfolio/mobile/image-eebox.jpg");
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url("../assets/portfolio/mobile/image-eebox.jpg");
  background-size: cover;
}

@media (min-width: 768px) {
  .projects .projects-content .eebox {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url("../assets/portfolio/tablet/image-eebox.jpg");
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url("../assets/portfolio/tablet/image-eebox.jpg");
    background-size: cover;
  }
}

.projects .projects-content .federal {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url("../assets/portfolio/mobile/image-federal.jpg");
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url("../assets/portfolio/mobile/image-federal.jpg");
  background-size: cover;
}

@media (min-width: 768px) {
  .projects .projects-content .federal {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url("../assets/portfolio/tablet/image-federal.jpg");
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url("../assets/portfolio/tablet/image-federal.jpg");
    background-size: cover;
  }
}

.projects .projects-content .grand {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url("../assets/portfolio/mobile/image-edelweiss.jpg");
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url("../assets/portfolio/mobile/image-edelweiss.jpg");
  background-size: cover;
}

@media (min-width: 768px) {
  .projects .projects-content .grand {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url("../assets/portfolio/tablet/image-edelweiss.jpg");
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url("../assets/portfolio/tablet/image-edelweiss.jpg");
    background-size: cover;
  }
}

.projects .projects-content .netcry {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url("../assets/portfolio/mobile/image-netcry.jpg");
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url("../assets/portfolio/mobile/image-netcry.jpg");
  background-size: cover;
}

@media (min-width: 768px) {
  .projects .projects-content .netcry {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url("../assets/portfolio/tablet/image-netcry.jpg");
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url("../assets/portfolio/tablet/image-netcry.jpg");
    background-size: cover;
  }
}

.projects .projects-content .hypers {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url("../assets/portfolio/mobile/image-hypers.jpg");
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url("../assets/portfolio/mobile/image-hypers.jpg");
  background-size: cover;
}

@media (min-width: 768px) {
  .projects .projects-content .hypers {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url("../assets/portfolio/tablet/image-hypers.jpg");
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url("../assets/portfolio/tablet/image-hypers.jpg");
    background-size: cover;
  }
}

.projects .projects-content .SXIV {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url("../assets/portfolio/mobile/image-sxiv.jpg");
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url("../assets/portfolio/mobile/image-sxiv.jpg");
  background-size: cover;
}

@media (min-width: 768px) {
  .projects .projects-content .SXIV {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url("../assets/portfolio/tablet/image-sxiv.jpg");
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url("../assets/portfolio/tablet/image-sxiv.jpg");
    background-size: cover;
  }
}

.projects .projects-content .tbt {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url("../assets/portfolio/mobile/image-trinity.jpg");
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url("../assets/portfolio/mobile/image-trinity.jpg");
  background-size: cover;
}

@media (min-width: 768px) {
  .projects .projects-content .tbt {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url("../assets/portfolio/tablet/image-trinity.jpg");
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url("../assets/portfolio/tablet/image-trinity.jpg");
    background-size: cover;
  }
}

.projects .projects-content .paramour {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url("../assets/portfolio/mobile/image-paramour.jpg");
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url("../assets/portfolio/mobile/image-paramour.jpg");
  background-size: cover;
}

@media (min-width: 768px) {
  .projects .projects-content .paramour {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01%, rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.499044))), url("../assets/portfolio/tablet/image-paramour.jpg");
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url("../assets/portfolio/tablet/image-paramour.jpg");
    background-size: cover;
  }
}

.projects button {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .projects {
    padding: 0;
    margin-bottom: 12.5rem;
  }
}
/*# sourceMappingURL=portfolio.css.map */