@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');
@import './variables';
@import './globals';


.projects{
    padding: 3.94rem 2rem 8.25rem 2rem;
    .projects-content{
        h2{
            margin-bottom: 3rem;
        }
        .project-card{
            .content{
                padding: 10.125rem 9.0625rem 1.5rem 1.5rem;
                color: white;
                h3{
                    margin-bottom: 4px;
                }
                p{
                    font-weight: 500;
                    line-height: 25px;
                    opacity: 0.75;
                    margin-top: 0px;
                }
            }
            margin-bottom: 1.5rem;
        }
        .delSol{
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/mobile/image-del-sol.jpg');
            background-size:cover;
            @media (min-width:$tablet) {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/tablet/image-del-sol.jpg');
                background-size: cover;
            }
            @media (min-width:$deskTop) {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/desktop/image-del-sol.jpg');
                background-size: cover;
            }

        }
        .tower{
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/mobile/image-228b.jpg');
            background-size:cover;
            @media (min-width:$tablet) {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/tablet/image-228b.jpg');
                background-size:cover;
        
            }
            @media (min-width:$deskTop) {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/deskTop/image-228b.jpg');
                background-size:cover;
        
            }
        }
        .prototype{
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/mobile/image-prototype.jpg');
            background-size:cover;
            @media (min-width:$tablet) {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/tablet/image-prototype.jpg');
                background-size:cover;
            }
            @media (min-width:$deskTop) {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/deskTop/image-prototype.jpg');
                background-size:cover;
        
            }
        }

        .seraph{
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/mobile/image-seraph.jpg');
            background-size:cover;
            @media (min-width:$tablet) {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/tablet/image-seraph.jpg');
                background-size:cover;
        
            }
            @media (min-width:$deskTop) {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/desktop/image-seraph.jpg');
                background-size:cover;
        
            }
        }

        .eebox{
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/mobile/image-eebox.jpg');
            background-size:cover;
            @media (min-width:$tablet) {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/tablet/image-eebox.jpg');
                background-size:cover;
        
            }
            @media (min-width:$deskTop) {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/desktop/image-eebox.jpg');
                background-size:cover;
        
            }
        }

        .federal{
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/mobile/image-federal.jpg');
            background-size:cover;
            @media (min-width:$tablet) {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/tablet/image-federal.jpg');
                background-size:cover;
        
            }
            @media (min-width:$deskTop) {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/desktop/image-federal.jpg');
                background-size:cover;
        
            }
        }

        .grand{
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/mobile/image-edelweiss.jpg');
            background-size:cover;
            @media (min-width:$tablet) {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/tablet/image-edelweiss.jpg');
                background-size:cover;
        
            }
            @media (min-width:$deskTop) {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/desktop/image-edelweiss.jpg');
                background-size:cover;
        
            }
        }

        .netcry{
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/mobile/image-netcry.jpg');
            background-size:cover;
            @media (min-width:$tablet) {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/tablet/image-netcry.jpg');
                background-size:cover;
        
            }
            @media (min-width:$deskTop) {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/desktop/image-netcry.jpg');
                background-size:cover;
        
            }
        }

        .hypers{
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/mobile/image-hypers.jpg');
            background-size:cover;
            @media (min-width:$tablet) {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/tablet/image-hypers.jpg');
                background-size:cover;
        
            }
            @media (min-width:$deskTop) {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/desktop/image-hypers.jpg');
                background-size:cover;
        
            }
        }

        .SXIV{
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/mobile/image-sxiv.jpg');
            background-size:cover;
            @media (min-width:$tablet) {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/tablet/image-sxiv.jpg');
                background-size:cover;
            }

            @media (min-width:$deskTop) {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/desktop/image-sxiv.jpg');
                background-size:cover;
            }
            
            
        }

        .tbt{
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/mobile/image-trinity.jpg');
            background-size:cover;
            @media (min-width:$tablet) {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/tablet/image-trinity.jpg');
                background-size:cover;
            }
            @media (min-width:$deskTop) {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/desktop/image-trinity.jpg');
                background-size:cover;
            }
        }

        .paramour{
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/mobile/image-paramour.jpg');
            background-size:cover;
            @media (min-width:$tablet) {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/tablet/image-paramour.jpg');
                background-size:cover;
            }
            @media (min-width:$deskTop) {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0.01%, rgba(0, 0, 0, 0.499044) 100%), url('../assets/portfolio/desktop/image-paramour.jpg');
                background-size:cover;
            }
        }

    }
    button{
        width: 100%;
        justify-content:center
        
    }
    @media (min-width:$tablet) {
        padding: 0;
        margin-bottom: 12.5rem;
    }
    @media (min-width:$deskTop) {
        margin-bottom: 160px;
    }
    
}

.projects-content{
    @media (min-width:$deskTop) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .project-card{
            width: 30%;
            height: 560px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .content{
                padding: 0;
            }
        }

    }
}